@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Головна сторінка сайту</h1>
</div>
@if (User.IsInRole("Адміністратор"))
{
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <h2>Адмін-панель</h2>
                <div class="list-group">
                    <a class="list-group-item" asp-area="" asp-controller="Orders" asp-action="IndexAll">Замовлення</a>
                    <a class="list-group-item" asp-area="" asp-controller="Users" asp-action="Index">Користувачі</a>
                    <a class="list-group-item" asp-area="" asp-controller="ProductCategories" asp-action="Index">Категорії товарів</a>
                    <a class="list-group-item" asp-area="" asp-controller="PostServices" asp-action="Index">Способи доставки</a>
                    <a class="list-group-item" asp-area="" asp-controller="Products" asp-action="Index">Усі товари</a>
                </div>
            </div>
            @*<div class="col-md-8">CONTENT</div>*@
        </div>
    </div>
}