@model PracticeWebApp.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Створення замовлення</h1>

@*<h4>Order</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
        </div>*@
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" value="@ViewBag.Total" readonly="@(true)" />
                @*<select asp-for="Total" class="form-control" asp-items="ViewBag.Total"></select>*@
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostServiceId" class="control-label"></label>
                <select asp-for="PostServiceId" class="form-control" asp-items="ViewBag.PostServiceId"></select>
            </div>
            <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
            <div class="form-group">
            <label asp-for="PostDepartmentAddress" class="control-label"></label>
            <input asp-for="PostDepartmentAddress" class="form-control" />
            <span asp-validation-for="PostDepartmentAddress" class="text-danger"></span>
        </div>
            @*<div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="StatusId" class="control-label"></label>
            <select asp-for="StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="CartProducts">Повернутися до кошику</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
