
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


/*products grid section*/
* {
    box-sizing: border-box;
}

.product-wrap {
    width: 300px;
    margin: 0 auto;
    background: white;
    padding: 0 0 20px;
    text-align: center;
    font-size: 14px;
    /*font-family: Lora;*/
    text-transform: uppercase;
}

.product-item {
    position: relative;
    overflow: hidden;
}

.product-wrap img {
    display: block;
    width: 100%;
}

.product-buttons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .3s ease-in-out;
}

.button {
    text-decoration: none;
    color: #c0a97a;
    font-size: 12px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #c0a97a;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
}

    .button:before {
        content: "\f07a";
        /*font-family: FontAwesome;*/
        margin-right: 10px;
    }

.product-item:hover .product-buttons {
    opacity: 1;
}

.product-item:hover .button {
    transform: translate(-50%, -50%) scale(1);
}

.button:hover {
    background: black;
}

.product-title {
    color: #5e5e5e;
}

    .product-title a {
        text-decoration: none;
        color: #2e2e2e;
        font-weight: 600;
        margin: 15px 0 5px;
        padding-bottom: 7px;
        display: block;
        position: relative;
        transition: .3s ease-in-out;
    }

        .product-title a:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            background: #2e2e2e;
            left: 50%;
            margin-left: -20px;
            bottom: 0;
            transition: .3s ease-in-out;
        }

        .product-title a:hover {
            color: #c0a97a;
        }

    .product-title:hover a:after {
        background: #c0a97a;
    }

.product-price {
    font-size: 20px;
    color: #c0a97a;
    font-weight: 700;
}
/*end of products grid section*/

/*Comments section*/
html {
    font-size: 16px;
}

.media-body .author {
    display: block;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}

.media-body .metadata {
    display: block;
    color: #777;
    font-size: .8125rem;
}

.media-text {
    margin-bottom: 0.25rem;
}

.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0,0,0,.87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.media-left img {
    width: 50px;
    margin-right: 10px;
}
/*End of comments section*/