/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
   /*Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;  /*Vertically center the text there*/ 
}

/*------------------------------------------------------------*/
/** {
    box-sizing: border-box;
}

.product-item {
    width: 300px;
    text-align: center;*/
    /*margin: 0 auto;*/
    /*margin: 0 -20px 0 0;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
}

    .product-item:hover {
        border-bottom: 2px solid #fc5a5a;
    }

    .product-item img {
        display: block;
        width: 100%;
    }

.product-list {
    background: #fafafa;
    padding: 15px 0;
}

    .product-list h3 {
        font-size: 18px;
        font-weight: 400;
        color: #444444;
        margin: 0 0 10px 0;
    }

.price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}

.product-item:hover .button {
    background: #fc5a5a;
}*/

    /*INDEX 4*/
/*.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}
@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}

.product {
    display: block;
    border: 1px solid #b5e9a7;
    border-radius: 3px;
    position: relative;
    background: #fff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 300px;
}

.products {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
}

.product-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

    .product-photo img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        transition: transform .4s ease-out;
    }

.product:hover .product-photo img {
    transform: scale(1.05);
}

.product p {
    position: relative;
    margin: 0;
    font-size: 1em;
    line-height: 1.4em;
    height: 5.6em;
    overflow: hidden;
}

    .product p:after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 4.2em;
        height: 1.6em;
        background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
    }

.product-price-old b,
.product-price-old small {
    color: #888;
}

.product:hover .product-preview {
    transform: translateY(0);
    opacity: 1;
}

.product-buttons-wrap {
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(.8);
    transform-origin: top;
    transition: transform .2s ease-out;
    z-index: -1;
    backface-visibility: hidden;
}

    .product-buttons-wrap:before {
        content: "";
        float: left;
        height: 100%;
        width: 100%;
    }

.buttons {
    position: relative;
    top: -1px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border: 1px solid #56bd4b;
    border-radius: 3px;
}

.table-layout .product-main {
    width: 50%;
    float: left;
    background: #fff;
}

.table-layout .product-buttons-wrap {
    position: static;
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}*/

* {
    box-sizing: border-box;
}

.product-wrap {
    width: 300px;
    margin: 0 auto;
    background: white;
    padding: 0 0 20px;
    text-align: center;
    font-size: 14px;
    font-family: Lora;
    text-transform: uppercase;
}

.product-item {
    position: relative;
    overflow: hidden;
}

.product-wrap img {
    display: block;
    width: 100%;
}

.product-buttons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .3s ease-in-out;
}

.button {
    text-decoration: none;
    color: #c0a97a;
    font-size: 12px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #c0a97a;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
}

    .button:before {
        content: "\f07a";
        font-family: FontAwesome;
        margin-right: 10px;
    }

.product-item:hover .product-buttons {
    opacity: 1;
}

.product-item:hover .button {
    transform: translate(-50%, -50%) scale(1);
}

.button:hover {
    background: black;
}

.product-title {
    color: #5e5e5e;
}

    .product-title a {
        text-decoration: none;
        color: #2e2e2e;
        font-weight: 600;
        margin: 15px 0 5px;
        padding-bottom: 7px;
        display: block;
        position: relative;
        transition: .3s ease-in-out;
    }

        .product-title a:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            background: #2e2e2e;
            left: 50%;
            margin-left: -20px;
            bottom: 0;
            transition: .3s ease-in-out;
        }

        .product-title a:hover {
            color: #c0a97a;
        }

    .product-title:hover a:after {
        background: #c0a97a;
    }

.product-price {
    font-size: 20px;
    color: #c0a97a;
    font-weight: 700;
}